#main-wrap {
	--primary: #720eec;
	--primary-rgb: 114, 14, 236;
	--secondary: rgb(201, 32, 39);
	--tertiary: #6817c5;
	--tertiary-rgb: 104, 23, 197;
	--border-color: #EEE;
	--border-radius: 5px;
	--text-color: ;
	--header-shadow: 0 4px 9px rgba(122, 0, 223,.03);
	--box-shadow: rgba(122, 0, 223, 0.05) 0px 1px 3px 0px;

    --wp-components-color-accent: var(--tertiary);
    --wp-components-color-foreground: #232323;
    --wp-admin-theme-color: var(--tertiary);
    --wp-admin-theme-color-darker-10: #53129e;
    --wp-admin-theme-color-darker-20: #49108A;
}
:where(#main-wrap) a {
    color: var(--wp-admin-theme-color);
    text-decoration: none;
}
:where(#main-wrap) a:hover,:where(#main-wrap) a:focus {
    color: var(--wp-admin-theme-color-darker-10);
}
:where(#main-wrap) a:active {
    color: var(--wp-admin-theme-color-darker-20)
}
code {
    color: var(--tertiary);
    background: rgba(var(--tertiary-rgb), .04);
    border-radius: 4px;
}

header {
    background: #fff;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 68px;
    align-items: center;
    border-bottom: 1px solid rgba(122, 0, 223, .04);
    transition: all 0.3s ease;
}
header.sticky {
    box-shadow: var(--header-shadow);
    margin-top: 32px;
}
header .icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 4px;
}
header .left {
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
header h1 {
    font-size: 20px;
}
header > h1 > a {
    text-decoration: none;
    color: #000;
}
header h1 span {
    margin-left: 5px;
    padding: 0 6px;
    background: rgba(122, 0, 223, .04);
    border-radius: 2px;
    font-size: 11px;
    color: var(--primary);
}
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.nav-menu .nav-item {
    margin-bottom: 0;
}
.nav-menu .nav-link {
    transition: all 0.3s ease 0s;
    color: #555d66;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    position: relative;
}
.nav-menu .nav-link span, .nav-menu .nav-link svg {
    display: block;
    margin: 0 auto;
    width:24px;
    height:24px;
}
.nav-menu .nav-link.active, .nav-menu li:hover>a, .nav-menu li>a:focus {
    background: rgba(var(--primary-rgb), .05);
    color: var(--primary);
}
.nav-menu .nav-link.active::before, .nav-menu li:hover>a::before, .nav-menu li>a:focus::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 2px;
    animation: slideIn 0.4s ease forwards;
}
@keyframes slideIn {
    from {width: 0;} to {width: 100%;}
}
#poststuff {
    max-width: 1350px;
    margin: auto;
}
#poststuff #post-body #post-body-content, #poststuff #post-body .postbox {
    border-radius: 4px;
    background: #fff;
    box-shadow: var(--box-shadow);
    border: 1px solid #e2e7eb;
}
.notice-success, .notice-warning, .notice-error, .notice-info {
    border-radius: 3px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
.nav-tab {
    border-top-color: #fff;
    border-right-color: #fff;
    border-left-color: #fff;
    background: #fff;
}
.nav-tab-wrapper {
    border-bottom: 1px solid #EAECF0;
    padding-left: 15px;
    padding-top: 20px;
}
.nav-tab-active,
.nav-tab-active:hover,
.nav-tab-active:focus,
.nav-tab-active:focus:active {
    border: 1px solid #EAECF0 !important;
    border-top: 1px solid #5f3afc !important;
    border-bottom: 1px solid #FFF !important;
    background: #FFF !important;
    color: #000;
}
.nav-tab:hover,
.nav-tab:focus {
    background-color: #f6f6f6 !important;
    box-shadow: none;
    outline: none;
    border-top: 1px solid var(--primary) !important;
}
.nav-tab {
    padding: 5px 15px !important;
}
.nav-tab .dashicons {
    color: #555d66;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
    margin-left: -5px;
}
.components-tooltip {
    display: inline-block;
}
.ui-tooltip-content::after, .ui-tooltip-content::before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    border-color: #000 transparent;
    border-width: 5px 5px 0;
}
.pro * {
    pointer-events: none;
    opacity: 0.7;
}
.pro > th {
    position: relative;
}
pro {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 2px 5px;
    background: var(--primary);
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
}
.tab-content {
    padding: 15px 20px;
}
.form-table th a {
    text-decoration:none; 
    float: right;
}
.form-table th .dashicons {
    color: #797979;
}
.form-table th svg {
    fill: #797979;
}
.form-table > tbody > :nth-child(odd) {
    background-color: #fff !important;
}
.form-table {
    border: 1px solid var(--border-color);
}
.form-table td,
.form-table th {
    position: relative;
    border-top: 1px solid var(--border-color);
    padding-left: 15px !important;
}
.form-table th {
    border-right: 1px solid var(--border-color);
    background: #F9F9F9;
}
.form-table td ul {
    margin: 0;
}
.components-panel__row {
    margin-top: 10px;
    padding: 10px 20px 20px;
}
label{
    cursor: pointer;
}
.wps-module label svg {
    float: right;
}
#footer-thankyou {
    font-style: normal;
}
#license-1, #cong-cu-1, #tools-1 {
    padding-bottom:20px;
}
#modules-modules .form-table {
    border: none !important;
}
.form-table p.description {
    opacity: .7;
    font-style: italic;
    font-size: 12px;
}
.components-form-toggle {
    margin-right: 3px;
}
/* Button */
#main-wrap .button {
    cursor: pointer;
    text-align: center;
    border-width: 0;
    border-radius: 2px;
}
.fixed-save-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.fixed-save-button.visible {
  opacity: 1;
  visibility: visible;
}
.fixed-save-button .submit {
  margin-right: 10px;
}
.fixed-save-button .spinner,
.submit .spinner {
  float: none;
  visibility: visible;
  margin-left: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.fixed-save-button .spinner.is-active,
.submit .spinner.is-active {
  opacity: 1;
}
.wp-core-ui .button.button-secondary {
    background: #eff6fc;
    color: #007cba;
    border: none;
    cursor: pointer;
    display: inline-block;
    min-height: 36px;
    outline: none;
    padding: 6px 12px;
    transition: .3s;
    box-shadow: none;
}
.wp-core-ui .button:disabled,
.wp-core-ui button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.wp-core-ui .button.is-busy:not(.components-button) ,
.wp-core-ui button.is-busy:not(.components-button) {
    position: relative;
    pointer-events: none;
}

.wp-core-ui .button.is-busy:not(.components-button)::before,
.wp-core-ui button.is-busy:not(.components-button)::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: -3px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: #2271b1;
    animation: wps-settings-spin 1s linear infinite;
}
@keyframes wps-settings-spin {
    to {
        transform: rotate(360deg);
    }
}
.wp-core-ui .button + p,
.wp-core-ui p + .button {
    margin-top: 10px;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img, a:focus .plugin-icon,
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus,
.wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus,
.components-button.is-primary:focus:not(:disabled) {
    box-shadow: none !important;
    outline: none !important;
}
input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
    border-color: var(--tertiary);
    box-shadow: 0 0 0 1px var(--tertiary);
    outline: 2px solid transparent;
}
/* Tooltip */
[tooltip] {
    position: relative;
    cursor: pointer;
}
[tooltip]:before,
[tooltip]:after {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: all .2s ease;
    font-size: 12px;
}
[tooltip]:before {
    content: attr(tooltip);
    height: 13px;
    position: absolute;
    top: -20px;
    padding: 6px;
    border-radius: 3px;
    line-height: 1.2;
    color: #fff;
    background: #000;
    box-shadow: 0 3px 8px rgba(165, 165, 165, 0.5);
}
[tooltip]:after {
    content: '';
    border-left: 5px solid transparent;
    top: 0px;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}
[tooltip]:not([tooltip=""]):hover:before {
    visibility: visible;
    opacity: 1;
    top: -30px
}
[tooltip]:not([tooltip=""]):hover:after {
    visibility: visible;
    opacity: 1;
    top: -5px
}
div.tooltip {
  position: absolute;
  top: 0;
  font-size: 13px;
  font-style: italic;
  background: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(-20px);
  margin: 0 !important;
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #000;
  bottom: -3px;
  left: 15px;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Hiển thị tooltip khi trường bị lỗi */
input.error + .tooltip,
select.error + .tooltip,
textarea.error + .tooltip {
  opacity: .8;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(-30px);
}
.tooltip.error {
    background: #dc3545;
    border-left: 0;
}
.tooltip.error::before {
    background: rgba(220, 53, 69, .9);
}
/* Định nghĩa kiểu dáng cho tooltip */
input.error,
select.error,
textarea.error {
    border: 1px solid red !important;
    background-color: #ffe6e6;
    position: relative;
}
/* $. Module */
.title h3 {
    color: #1d2327;
    font-size: 16px;
    margin: 0 0 1em;
    display: flex;
    gap: 8px;
    align-items: center;
}
.title p {
    margin: -10px 0 20px;
}
#main-wrap .wps-module {
    padding: 0 !important;
}
.module-container {
  display: grid;
  /* Define Auto Row size
  grid-auto-rows: 150px;  */
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
  padding: 0;
}
.module-container .card {
  padding: 20px;
}
.card {
  padding: 20px;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background: #FFF;
  box-shadow: 0px 3px 14px 1px #00000005;
  position: relative;
}
.card__header {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
}
.card .card__title {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
}
.card > * + * {
  margin-top: 1.1em;
}
.card .card__content {
  font-size: 13px;
  opacity: .7;
}
.card__arrow {
  position: absolute;
  background: var(--wp-admin-theme-color);
  padding: 5px;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: transform 0.3s ease, background 0.3s ease; /* Thêm transition */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__arrow::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' height='15' width='15'%3E%3Cpath fill='%23fff' d='M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z'/%3E%3C/svg%3E");
  display: block;
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease; /* Thêm transition cho ::before */
  will-change: transform; /* Tối ưu hóa hiệu suất */
}
.card:hover .card__arrow {
  background: #111;
}
.card:hover .card__arrow::before {
  transform: translateX(3px); /* Dịch chuyển sang phải */
}
/* $. Toggle */
span.switch {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 22px;
	margin-top: -3px;
}
span.switch input {
    opacity: 0;
    z-index: 999999;
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}
span.switch .slider {
	border-radius: 26px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
}
span.switch .slider:before {
	border-radius: 50%;
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
}
span.switch .slider:after {
    content: 'OFF';
    font-size: 9px;
    text-align: right;
    color: #777777;
    margin-left: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
}
span.switch input:checked + .slider:after {
    content: 'ON';
    font-size: 9px;
    text-align: center;
    display: flex;
    color: #fff;
    margin-left: 6px;
    font-weight: bold;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
}
span.switch input:checked+.slider {
    background: var(--wp-admin-theme-color);
}
span.switch input:checked+.slider:before {
	-webkit-transform: translateX(26px) rotate(360deg);
	-ms-transform: translateX(26px) rotate(360deg);
    transform: translateX(22px) rotate(360deg);
}

/* $. End Toggle */

/* Style for a row containing a disabled field */
tr.is-conditionally-disabled {
    opacity: 0.6;
    background-color: #f9f9f9;
}
tr.is-conditionally-disabled label {
    text-decoration: line-through;
    color: #999;
}
tr.is-conditionally-readonly input {
    background-color: #f0f0f0 !important;
    cursor: not-allowed;
}
th label.is-required::after,
th label.is-conditionally-required::after {
    content: ' *';
    color: #d63638;
    font-weight: bold;
    display: inline-block;
    margin-left: 2px;
}